#instaMedia img{
    height:370px;
    width:385px;
    margin-bottom: 10px;
    margin-top: 10px;


}

#instaMedia2 img{
    height:370px;
    width:385px;
    margin-bottom: 10px;
    margin-top: 10px;

}